:root {
  --bg-dark: #121212;
  --text-white: #FFFFFF;
  --accent-cyan: #00E5FF;
  --accent-lime: #76FF03;
  --danger-red: #FF1744;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: sans-serif;
  overflow: hidden; /* Mencegah scroll pada GCS */
}

/* Tipografi khusus untuk telemetri agar angka tidak bergoyang */
.telemetry-font {
  font-family: 'Courier New', Courier, monospace;
}